[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.5.4
[submodule "lib/chronicle-std"]
	path = lib/chronicle-std
	url = https://github.com/chronicleprotocol/chronicle-std
	branch = v1
[submodule "lib/uniswap/v3-periphery"]
	path = lib/uniswap/v3-periphery
	url = https://github.com/Uniswap/v3-periphery.git
	branch = 0.8
[submodule "lib/uniswap/v3-core"]
	path = lib/uniswap/v3-core
	url = https://github.com/Uniswap/v3-core.git
	branch = 0.8
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
